<div class="col-lg-12 right-content">
        <section class="widget-body no-padding col-lg-4 field-1">
                <form class="smart-form frmAppraisal" #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" novalidate="novalidate"
                [saUiValidate]="validationOptions">
                        <fieldset>
                                    <section class="col-lg-12">
                                            <label class="label col-lg-5">{{'Date' | i18n}}</label>
                                            <label class="input col-lg-6"> <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="eval_ymd" [(ngModel)]="appraisal.eval_ymd" required class="appraisal-ymd-datepicker" autocomplete="off">
                                            </label>
                                    </section>
                                    <section class="col-lg-12">
                                            <label class="label col-lg-5">{{'Period' | i18n}}</label>
                                            <label class="input col-lg-6">
                                                <select select2 name="eval_period_gen_cd" [(ngModel)]="appraisal.eval_period_gen_cd" [defaultVal]="appraisal.eval_period_gen_cd" required class="select2 required" style="width:100%" placeHolder="Period">
                                                    <option *ngFor="let item of period" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
                                                </select>
                                            </label>
                                    </section>
                                    <section class="col-lg-12">
                                            <label class="label col-lg-5">{{'Contribution' | i18n}}</label>
                                            <label class="input col-lg-6">
                                                <select select2 name="eval_type_gen_cd" [(ngModel)]="appraisal.eval_type_gen_cd" [defaultVal]="appraisal.eval_type_gen_cd" required class="select2 required" style="width:100%" placeHolder="Contribution">
                                                  <option *ngFor="let item of contribution" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
                                                </select>
                                            </label>
                                    </section>
                                    <section class="col-lg-12">
                                            <label class="label col-lg-5">{{'Result' | i18n}}</label>
                                            <label class="input col-lg-6">
                                                <select select2 name="eval_result_gen_cd" [(ngModel)]="appraisal.eval_result_gen_cd" [defaultVal]="appraisal.eval_result_gen_cd" required class="select2 required" style="width:100%" placeHolder="Result">
                                                  <option *ngFor="let item of result" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
                                                </select>
                                            </label>
                                    </section>
                                    <section class="col-lg-12">
                                            <label class="label col-lg-5">{{'Capability' | i18n}}</label>
                                            <label class="input col-lg-6">
                                                <select select2 name="capability_level_gen_cd" [(ngModel)]="appraisal.capability_level_gen_cd" [defaultVal]="appraisal.capability_level_gen_cd" required class="select2 required" style="width:100%" placeHolder="Capability">
                                                  <option *ngFor="let item of capability" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
                                                </select>
                                            </label>
                                    </section>
                                    <section class="col-lg-12">
                                            <label class="label col-lg-5">{{'Remarks' | i18n}}</label>
                                            <label class="textarea col-lg-6">
                                                <textarea rows="3" name="remark" [(ngModel)]="appraisal.remark" class="custom-scroll"></textarea> </label>
                                            <div class="note">
                                            </div>
                                    </section> 
                                    <section class="col-lg-11 btn-cmd">
                                      <button class="btn btn-small btn-primary" [disabled]="!permission.canSave" type="submit"><i class="fa fa-save"></i> {{'BUTTON-SAVE' | i18n}}</button>
                                      <button class="btn btn-small btn-default" type="button" (click) = "onReset()"><i class="fa fa-refresh"></i> {{'BUTTON-RESET' | i18n}}</button>
                                  </section>
                        </fieldset>
                    </form>
              
        </section>
        <section class="col-lg-8 field-2">
                <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
                        <div>
                            <div class="widget-body no-padding">
                                <sa-datatable [options]="options" (rowClick)="onRowClick($event)" paginationLength="true" filter="true"
                                tableClass="eplAppraisalInfoList table table-striped table-condensed table-hover table-bordered">
                                    <thead>
                                        <tr class="heading">
                                            <th>{{'Period' | i18n}}</th>
                                            <th>{{'Date' | i18n}}</th>
                                            <th>{{'Capability' | i18n}}</th>
                                            <th>{{'Contribution' | i18n}}</th>
                                            <th>{{'Result' | i18n}}</th>
                                            <th>{{'Remarks' | i18n}}</th>
                                        </tr>
                                        <tr>
                                          <th class="hasinput">
                                              <select class="form-control select-filter" name="filter_period"
                                              style="width:100%">
                                              <option value="">{{'All' | i18n}}</option>
                                              <option *ngFor="let item of period" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
                                          </select>
                                          </th>
                                            <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Date" />
                                            </th>
                                            <th class="hasinput">
                                              <select class="form-control select-filter" name="filter_period"
                                              style="width:100%">
                                              <option value="">{{'All' | i18n}}</option>
                                              <option *ngFor="let item of capability" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
                                          </select>
                                          </th>
                                          <th class="hasinput">
                                              <select class="form-control select-filter" name="filter_period"
                                              style="width:100%">
                                              <option value="">{{'All' | i18n}}</option>
                                              <option *ngFor="let item of contribution" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
                                          </select>
                                          </th>
                                          <th class="hasinput">
                                              <select class="form-control select-filter" name="filter_period"
                                              style="width:100%">
                                              <option value="">{{'All' | i18n}}</option>
                                              <option *ngFor="let item of result" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
                                          </select>
                                          </th>
                                          <th class="hasinput">
                                              <input type="text" class="form-control" placeholder="remark" />
                                          </th>
                                        </tr>
                                    </thead>
                                </sa-datatable>
                            </div>
                        </div>
                    </div>   
        </section>
</div>