.well.well-sm{border:none;margin-bottom: 8px;}

.table-wrap::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  
.table-wrap::-webkit-scrollbar {
    width: 8px;
    height:8px;
	background-color: #f4f4f4;
  }
  
.table-wrap::-webkit-scrollbar-thumb {
    background-color: #908e8e;
  }