<label class="input popup-select" style="width: 100%; margin: 0px;" >
  <div (click)="onShowPopupInitTable()">
    <input type="text" [ngClass]="inputClass" id="inputItemBom" [name]="name" [(ngModel)]="cell.newValue" disabled required style="width: 100%; background-color: white; padding: 0 5px;" />
    <i class="fa fa-search icon-2"></i>
  </div>
</label>

<ng-template #popupApprovalLineComponent>
  <sa-popup-modal headerTitle="User Information" width="40%" height="400" (onClose)="closePopup()">
    <sa-approval-line-registration-popup (childCall)="onChange($event)">
    </sa-approval-line-registration-popup>
  </sa-popup-modal>
</ng-template>