.checkbox-field .checkbox{
    margin-top: 25px;
    }
.checkbox-field .checkbox i{
    right: 0px;
    left: auto;
}
.checkbox-field .checkbox span{
    position: absolute;
    right: 25px;
    top: -2px;
}
:host /deep/ .search-style-btn{
    margin: 0 !important;
    height: 22px !important;
    line-height: 1px !important;
}