<article class="col-sm-12 col-md-12 col-lg-12 human-resources">
    <div class="row">
        <div class="no-padding ">
            <section class="col-lg-12">
                <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail"
                    novalidate="novalidate" [saUiValidate]="validationOptions">
                    <fieldset>
                        <input type="hidden" name="company_id" [(ngModel)]="salaryInfo.company_id" />
                        <div class="row">
                            <!-- <section class="col col-4">
                                <label class="label">{{'company' | i18n}}</label>
                                <label class="input">
                                    <select name="company_id" [(ngModel)]="salaryInfo.company_id" [defaultVal]="salaryInfo.company_id"
                                        select2 required style="width:100%;" class="select2 required" placeHolder="Select company"
                                        disabled>
                                        <option *ngFor="let item of companies" value={{item.company_id}}>{{item.company_nm}}</option>
                                    </select>
                                </label>
                            </section> -->
                            <section class="col col-6">
                                <label class="label">{{'SALARY-CODE' | i18n}}</label>
                                <label class="input">
                                    <select name="type" [(ngModel)]="salaryInfo.job_type_gen_cd" select2
                                        [defaultVal]="salaryInfo.job_type_gen_cd" style="width:100%;" class="select2 type" disabled>
                                        <option value=''></option>
                                        <option *ngFor="let item of salaryCode" value={{item.gen_cd}}>{{item.gen_nm}}</option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">{{'MONTH'| i18n}}</label>
                                <label class="input" style="padding:0">
                                    <select select2 class="form-control select2" name="sbt_month"  [(ngModel)]="salaryInfo.sbt_month"
                                        [defaultVal]="salaryInfo.sbt_month" style="width:100%" placeHolder="&nbsp;" disabled>
                                        <option *ngFor="let item of month" value="{{item.value}}">{{item.text}}</option>
                                    </select>
                                </label>
                            </section>

                            <section class="col col-3">
                                <label class="label">{{'YEAR'| i18n}}</label>
                                <label class="input" style="padding:0">
                                    <select select2 class="form-control select2" name="sbt_year"  [(ngModel)]="salaryInfo.sbt_year"
                                        [defaultVal]="salaryInfo.sbt_year" style="width:100%" placeHolder="&nbsp;" disabled>
                                        <option *ngFor="let item of year" value="{{item.value}}">{{item.text}}</option>
                                    </select>
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="label">{{'SALARY-BASIC' | i18n}}</label>
                                <label class="input">
                                    <i class="icon-append fa fa-book"></i>
                                    <input type="text" name="sbt_basic_amt" [(ngModel)]="salaryInfo.sbt_basic_amt"
                                        autocomplete="off" required />
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">{{'SALARY-AMT-1' | i18n}}</label>
                                <label class="input">
                                    <i class="icon-append fa fa-book"></i>
                                    <input type="text" name="sbt_1_atm" [(ngModel)]="salaryInfo.sbt_1_atm" autocomplete="off"
                                        required />
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">{{'SALARY-AMT-2' | i18n}}</label>
                                <label class="input">
                                    <i class="icon-append fa fa-phone"></i>
                                    <input type="text" name="sbt_2_atm" [(ngModel)]="salaryInfo.sbt_2_atm" autocomplete="off"
                                        required />
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">{{'SALARY-AMT-3' | i18n}}</label>
                                <label class="input">
                                    <i class="icon-append fa fa-book"></i>
                                    <input type="text" name="sbt_3_atm" [(ngModel)]="salaryInfo.sbt_3_atm" autocomplete="off"
                                        required />
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class=" col col-xs-12">
                                <label class="label">{{'REMARK' | i18n}}</label>
                                <label class="textarea">
                                    <textarea type="text" name="remark" [(ngModel)]="salaryInfo.remark" autocomplete="off"
                                        rows="2"></textarea>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <button type="submit" name="submit" class="btn btn-primary btn-xs edit-program">
                            <i class="fa fa-save"></i>
                            {{'button-save' | i18n}}
                        </button>
                    </footer>
                </form>
            </section>
        </div>
    </div>
</article>