/* Padding Top */
.padding-top-0{
    padding-top:0px!important;
}
.padding-top-5{
    padding-top:5px;
}
.padding-top-10{
    padding-top:10px!important;
}
.padding-top-15{
    padding-top:15px!important;
}
.padding-top-20{
    padding-top:20px!important;
}
.padding-top-25{
    padding-top:25px!important;
}
.padding-top-30{
    padding-top:30px!important;
}
.padding-top-40{
    padding-top:40px!important;
}
.padding-top-45{
    padding-top:45px!important;
}
.padding-top-50{
    padding-top:50px;
}
.padding-top-70{
    padding-top:70px;
}
.padding-top-80{
    padding-top:80px;
}
.padding-top-100{
    padding-top:100px;
}
.padding-top-140{
    padding-top:140px;
}
/* Padding Bottom */
.padding-bottom-5{
    padding-bottom:5px!important;
}
.padding-bottom-10{
    padding-bottom:10px!important;
}
.padding-bottom-15{
    padding-bottom:15px!important;
}
.padding-bottom-20{
    padding-bottom:20px;
}
.padding-bottom-25{
    padding-bottom:25px;
}
.padding-bottom-30{
    padding-bottom:30px;
}
.padding-bottom-40{
    padding-bottom:40px;
}
.padding-bottom-50{
    padding-bottom:50px;
}

/* padding left */
.padding-left-form{
    padding-left: 15px;
    box-sizing: border-box;
}
.padding-left-5{
    padding-left:5px;
}
.padding-left-10{
    padding-left:10px;
}
.padding-left-15{
    padding-left:15px;
}
.padding-left-20{
    padding-left:20px;
}
.padding-left-25{
    padding-left:25px;
}
.padding-left-30{
    padding-left:30px;
}
.padding-left-40{
    padding-left:40px;
}
.padding-left-50{
    padding-left:50px;
}

/* padding right */
.padding-right-form{
    padding-right: 15px;
    box-sizing: border-box;
}
.padding-right-5{
    padding-right:5px;
}
.padding-right-10{
    padding-right:10px;
}
.padding-right-15{
    padding-right:15px;
}
.padding-right-20{
    padding-right:20px;
}
.padding-right-25{
    padding-right:25px;
}
.padding-right-30{
    padding-right:30px;
}
.padding-right-40{
    padding-right:40px;
}
.padding-right-50{
    padding-right:50px;
}

/* padding top  bottom*/
.padding-top-bottom-5{
    padding-bottom:5px!important;
    padding-top:5px!important;
}
.padding-top-bottom-10{
    padding-bottom:10px!important;
    padding-top:10px!important;
}
.padding-top-bottom-15{
    padding-bottom:15px!important;
    padding-top:15px!important;
}

/* padding left right*/
.padding-l-r-5{
    padding-left:5px!important;
    padding-right:5px!important;
}
.padding-l-r-10{
    padding-left:10px;
    padding-right:10px;
}
.padding-l-r-15{
    padding-left:15px;
    padding-right:15px;
}
.padding-l-r-20{
    padding-left:20px;
    padding-right:20px;
}

/* No padding */
.no-padding-left-right, .no-padding-l-r{
    padding-left:0px;
    padding-right:0px;
}
.no-padding-top{
    padding-top:0px!important
}
.no-padding-bottom{
    padding-bottom:0px!important
}
.no-padding-right{
    padding-right:0px!important
}
.no-padding-left{
    padding-left:0px!important
}
.no-padding{
    padding:0px!important;
}

/* Padding */
.padding-5{
    padding:5px
}
.padding-10{
    padding:10px
}
.padding-15{
    padding:15px
}
.padding-20{
    padding:20px
}

/* Font size*/

.font-12{
    font-size:12px!important;
}
.font-13{
    font-size:13px!important;
}
.font-14{
    font-size:14px!important;
}
.font-16{
    font-size:16px!important;
}
.font-18{
    font-size:18px!important;
}
.font-22{
    font-size:22px!important;
}
.font-26{
    font-size:26px!important;
}

/* Margin Top Bottom */
.margin-top-bottom-5{
    margin-bottom:5px!important;
    margin-top:5px!important;
}

.margin-top-bottom-20{
    margin-bottom:20px!important;
    margin-top:20px!important;
}
/* No Margin */
.no-margin-top-bottom{
    margin-bottom:0px!important;
    margin-top:0px!important;
}
.no-margin-left{
    margin-left:0px!important;
}
.no-margin-right{
    margin-right:0px!important;
}
.no-margin-left-right{
    margin-left:0px !important;
    margin-right:0px !important;
}
.no-margin-top{
    margin-top:0px!important;
}
.no-margin-bottom{
    margin-bottom:0px!important;
}

.no-margin{
    margin:0px!important;
}


/* Margin Left*/
.margin-left-5{
    margin-left:5px;
}
.margin-left-10{
    margin-left:10px;
}
.margin-left-20{
    margin-left:20px;
}
.margin-left-70{
    margin-left:70px;
}
.margin-left--60{
    margin-left:-60px!important;
}
.margin-left--150{
    margin-left:-150px!important;
}

/* Margin Right */
.margin-right-1{
    margin-right:1px;
}
.margin-right-2{
    margin-right:2px;
}
.margin-right-5{
    margin-right:5px;
}
.margin-right-10{
    margin-right:10px;
}
.margin-right-20{
    margin-right:20px;
}
.margin-right-30{
    margin-right:30px;
}
.margin-right-40{
    margin-right:40px;
}


/* Margin Bottom*/
.margin-bottom-10{
    margin-bottom:10px!important;
}
.margin-bottom-15{
    margin-bottom:15px!important;
}
.margin-bottom-20{
    margin-bottom:20px!important;
}
.margin-bottom-30{
    margin-bottom:30px!important;
}
.margin-bottom-50{
    margin-bottom:50px;
}
.margin-bottom-70{
    margin-bottom:70px;
}
.margin-bottom-80{
    margin-bottom:80px;
}

/* Margin Top*/
.margin-top-5{
    margin-top:5px!important;
}
.margin-top-10{
    margin-top:10px!important;
}
.margin-top-20{
    margin-top:20px!important;
}
.margin-top-30{
    margin-top:30px!important;
}
.margin-top-40{
    margin-top:40px!important;
}
.margin-top-50{
    margin-top:50px!important;
}
.margin-top-80{
    margin-top:80px!important;
}
.margin-top-100{
    margin-top:100px;
}

/* Width */
.width100{
    width:100%!important;
}
.width90{
    width:90%;
}
.width80{
    width:80%;
}
.width70{
    width:70%!important;
}
.width65{
    width:65%!important;
}
.width60{
    width:60%!important;
}
.width50{
    width:50%;
}
.width45{
    width:45%;
}
.width40{
    width:40%;
}
.width35{
    width:35%!important;
}
.width30{
    width:30%!important;
}
.width25{
    width:25%!important;
}
.width20{
    width:20%!important;
}
.width15{
    width:15%!important;
}
.width10{
    width:10%!important;
}
.width5{
    width:5%!important;
}

/* height */
.height-350{
    height:350px;
}
.height-450{
    height:450px;
}
.height100{
    height:100%!important;
}
/* End Height */

/* Begin Border */
.border-bottom {
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.border {
    border: 1px solid #e5e5e5;
}
/* Endn Border */

/* Begin No Border */
.no-border-right{
    border-right:0px!important;
}
.no-border-left{
    border-left:0px!important;
}
.no-border-top{
    border-top:0px!important;
}
.no-border-bottom{
    border-bottom:0px!important;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}