// $table-font-color: yellow;
// $table-border-color: red;

:host{
   /deep/ { 
    .at-smart-table *{
      //  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;    
       font-size: 11px;
       }

    //    table{
    //     color: $table-font-color;  
    //     tr {
    //         td,th{
    //            border: 1px solid $table-border-color; 
    //         }
    //     }
    //    }
    
    .at-smart-table .ng2-smart-title{text-align: center}
    .at-smart-table .ng2-smart-filters input-filter input{height: 22px;}
    .at-smart-table ng2-smart-table-pager{width: 100%;background: #4e463f; background-image: linear-gradient(to bottom,#63788d,#2c3742);}
    .at-smart-table .ng2-smart-pagination-nav{padding: 5px;width: 100%; }
    .at-smart-table table{margin: 0}
    .at-smart-table .ng2-smart-pagination.summary{float: left;padding: 2px 8px;line-height: 16px;color: #c5c5c5 !important;font-size: 11px;}
    .at-smart-table .pagination .ng2-smart-page-item{background-color:black}
    .at-smart-table .pagination{margin: 0; overflow: hidden;float: right; width: 190px;    height: 20px;}
    .at-smart-table .pagination .page-link{padding: 2px 8px; height: 20px; line-height: 12px;color: #c5c5c5 !important;}
    .at-smart-table .ng2-smart-action{padding: 0 3px;}
    .at-smart-table input-editor *, .at-smart-table select-editor select{height: 22px; padding: 0 6px;} 
    .at-smart-table tbody tr:nth-child(2n) {background: #f9f9f9}
    .at-smart-table tbody tr.selected{background:#fffae8 !important}
   }
}