<!-- <div id="content-popup" > -->
<form #frmDetail="ngForm" class="smart-form atman-form-small no-header frm-detail_popup" (ngSubmit)="frmDetail.form.valid && onSubmit()" novalidate="novalidate">
  <fieldset>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="margin-left: 8%;">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <section class="col col-xs-12 col-sm-4 col-md-5 col-lg-5">
            <label class="label col-md-3">{{'STYLE_NO' | i18n}}</label>
            <label class="input col-md-9">
              <input type="text" name="styleNo" [(ngModel)]="cri.styleNo" autocomplete="off" />
            </label>
          </section>
          <section class="col col-xs-12 col-sm-4 col-md-5 col-lg-5">
            <label class="label col-md-3">{{'ORDER_TYPE' | i18n}}</label>
            <label class="input col-md-9">
              <select name="orderType" [(ngModel)]="cri.orderType" select2 
                style="width:100%;" class="select2">
                <option *ngFor="let item of orderTypes" value={{item.value}}>{{item.text | i18n}}</option>
              </select>
            </label>
          </section>
          <section class="col col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <button type="submit" name="search" class="btn btn-primary search-style-btn">
              {{'SEARCH' | i18n}}
            </button>
          </section>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <section class="col col-xs-12 col-sm-4 col-md-5 col-lg-5">
            <label class="label col-md-3">{{'BUYER' | i18n}}</label>
            <label class="input col-md-9">
              <select name="buyer" allowClear="true" [(ngModel)]="cri.buyer" select2  style="width:100%;"
                class="select2">
                <option *ngFor="let item of buyers" value={{item.trader_id}}>{{item.trader_local_nm | i18n}}</option>
              </select>
            </label>
          </section>
          <section class="col col-xs-12 col-sm-4 col-md-5 col-lg-5">
            <label class="label col-md-3">{{'Brand' | i18n}}</label>
            <label class="input col-md-9">
              <select name="brand" allowClear="true" [(ngModel)]="cri.brand" select2 style="width:100%;" class="select2">
                <option *ngFor="let item of brands" value={{item.gen_cd}}>{{item.gen_nm | i18n}}</option>
              </select>
            </label>
          </section>
          <section class="col col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <button type="button" name="close" (click)="onClose()" class="btn btn-cancel search-style-btn">
              {{'BUTTON-CLOSE' | i18n}}
            </button>
          </section>
        </section>
      </div>
    </div>
  </fieldset>
</form>
<sa-widgets-grid>
  <div class="row">
    <article class="col-sm-12">
      <article class="col col-sm-12">
        <div sa-widget color="atman" class="jarviswidget-atman">
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" (rowClick)="onRowClick($event)" [paginationLength]="false"
                tableClass="table projects-table table-striped table-condensed table-hover table-bordered search-style-table">
                <thead>
                  <tr class="heading">
                    <th class="text-center">{{'STYLE_NO' | i18n}}</th>
                    <th class="text-center">{{'Brand' | i18n}}</th>
                    <th class="text-center">{{'BUYER' | i18n}}</th>
                    <th class="text-center">{{'TYPE' | i18n}}</th>
                    <th class="text-center">{{'DESCRIPTION' | i18n}}</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </div>
      </article>
    </article>
  </div>
</sa-widgets-grid>
<!-- </div> -->