:host /deep/ .search-style-btn{
    margin-top: 1px !important;
    height: 22px !important;
    line-height: 1px !important;
}

#start-date {
    position: inherit;
    float: right;
    top: 16px;
    right: 5px;
}
#from-date {
    position: inherit;
    float: right;
    top: 16px;
    right: 5px;
}
.letter-spacing{
    text-align: center;
    margin-top: 1.1%;
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: var(--black);
}