.row {
    margin-bottom: 5px;
  }
  .right {
    float: right !important;
    margin-bottom: 15px;
  }
  
  .together {
    display: flex;
    width: 100%;
  }
  
  .form th {
    width: 100%;
    background-color: #e3e3e3;
    color: #3a3633;
    border: solid 1px #d5d3d3;
  }
  
  .letter-spacing {
    text-align: center;
    margin-top: 1.1%;
    font-family: Helvetica;
    font-size: 13px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--black);
  }
  
  footer {
    height: 50px;
    border: none !important;
    background-color: #f3f3f3;
  }
  
  .checkbox-field .checkbox {
    float: left;
    margin-top: 25px;
    margin-left: 10%;
  }
  
  .checkbox-field .checkbox i {
    right: 0px;
    left: auto;
  }
  
  .checkbox-field .checkbox span {
    position: absolute;
    right: 25px;
    top: -2px;
  }
  
  .btnViewProcessFlow {
    width: 93%;
    height: 20px;
    margin-top: 16px;
    margin-bottom: 0;
    border-radius: 1px;
    background-color: #a0804e;
    color: #ffffff;
  }
  :host /deep/ .section-regist-yield-tables{
    padding: 0;
    height: 245px; 
  }
  
  :host /deep/ .regist-yield-table  tr th:nth-child(1) {
    width: 6%;
  }
  :host /deep/ .regist-yield-table  tr th:nth-child(2){
    width: 30%;
  }
  :host /deep/ .regist-yield-table  tr th:nth-child(3){
    width: 15%;
  }
  :host /deep/ .regist-yield-table  tr th:nth-child(4){
    width: 15%;
  }
  :host /deep/ .regist-yield-table  tr th:nth-child(5){
    width: 15%;
  }
  :host /deep/ .regist-yield-table  tr th:nth-child(6){
    width:19%;
  }
  :host /deep/  .regist-yield-table  tr td ng2-smart-table-cell[ng-reflect-is-new="true"] label.popup-select {
    position: relative;
    top: 5px;
  }

  :host /deep/  .regist-yield-table > thead > tr > td label.popup-select {
    position: relative;
    top: 5px;
  }
  :host /deep/ .select2-container .select2-choice .select2-arrow, .select2-selection__arrow {
    right: auto !important;
  }

  :host /deep/  .regist-yield-table  tr td[colspan="6"] {
    width: 100% !important;
  }
  
  :host /deep/ .regist-yield-table  tr td:nth-child(1) {
    width: 6%;
  }
  :host /deep/ .regist-yield-table  tr td:nth-child(2){
    width: 30%;
  }
  :host /deep/ .regist-yield-table  tr td:nth-child(3){
    width: 15%;
  }
  :host /deep/ .regist-yield-table  tr td:nth-child(4){
    width: 15%;
  }
  :host /deep/ .regist-yield-table  tr td:nth-child(5){
    width: 15%;
  }
  :host /deep/ .regist-yield-table  tr td:nth-child(6){
    width:19%;
  }

  :host /deep/ .at-smart-table thead tr th{
    text-align: center; vertical-align: middle; padding: 4px;
  }
  
  .jarviswidget-atman {
      border: solid 0.5px #dddddd;
  }
  
  :host /deep/ .at-smart-table td{text-align: center; vertical-align: middle; padding: 4px;}
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-titles{
    background:#6d6c6e !important;
    color:#fff;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-titles>th>ng2-st-column-title .ng2-smart-title>ng2-smart-table-title>a{
    color: #fff!important;
    font-weight: normal !important;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-titles>th{
    vertical-align: middle;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters{
    background:#e3e3e3 !important; 
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th{
    border:none;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th.ng2-smart-th>ng2-smart-table-filter .ng2-smart-filter>select-filter>select{
    border-color:#52494487;
    border-radius: 3px!important;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th.ng2-smart-th>ng2-smart-table-filter .ng2-smart-filter>input-filter>input{
    border-color:#989898;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th.ng2-smart-actions-title{
    padding: 10px;
  }
  
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th.ng2-smart-actions-title a.ng2-smart-action-add-add{
    position: absolute;
    right: 0;
    left: 0;
    top: 27px;
  }
  
  :host /deep/ .fixed_header{
    width: 100%;
    display: inline-table;
    border-collapse: collapse;
    
  }
  /* fix chiều rộng của mũi tên và chiều cao của input */
  :host /deep/ .fixed_header thead tr td ng2-smart-table-cell table-cell-edit-mode div table-cell-custom-editor style-select-editor label span {
   width: 100% !important;
   right: auto;
   height: 22px!important;
  }
  /* fix khoảng cách hai nút nhấn */
  :host /deep/ .fixed_header thead tr td a.ng2-smart-action.ng2-smart-action-add-create {
   padding: 0 5px;
   }
   /* fix size chữ */
  :host /deep/ .fixed_header tbody tr td  {
  font-size: 11px;
    }

   :host /deep/ .fixed_header tbody tr td a.ng2-smart-action.ng2-smart-action-edit-edit {
    padding: 0 5px;
    }

  :host /deep/ .fixed_header thead tr th a{
    font-size: 11px;
  }
  :host /deep/ .fixed_header thead {
    display: inherit;
    width: 100%;
  }
  
  :host /deep/ .fixed_header tbody{
    display: block;
    width: 100%;
    overflow: overlay;
    max-height: 200px;
  }
  
  :host /deep/ .fixed_header thead tr {
   width: 100%;
  }
  
  :host /deep/ .fixed_header tbody tr {
    display: flex;
    width: 100%;
   }
  
  /* ====================================================================== */
  :host /deep/ table.fixed_header ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  :host /deep/ table.fixed_header ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  :host /deep/ table.fixed_header ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  :host /deep/ table.fixed_header ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  