<div id="content">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
      <div>
        <h1 class="page-title"><i class="fa-fw fa fa-magic"></i>{{'DUE_OUT_MATERIAL' | i18n}}</h1>
      </div>
    </div>
  </div>
  <form #dueOutMaterialForm="ngForm" (ngSubmit)="dueOutMaterialForm.form.valid && onSubmit()"
    class="smart-form atman-form-small no-header frm-due-out-material-detail" novalidate="novalidate"
    [saUiValidate]="validationOptions">
    <fieldset>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11" style="margin-left: 5%;">
          <section class="col-md-6">
            <section class="col col-6 margin-bottom-20" style="display: inline-flex !important;">
              <label class="label col-md-3" style="width:30%">{{'DUE_OUT_DATE' | i18n}}</label>
              <div style="display: inline-flex !important; width:70%">
                <label class="input col-md-6">
                  <input type="text" class="main text-center" placeholder={{this.dateTimeNow}}
                    name="orderRecvYmd"  [saUiDatepicker]="{dateFormat: 'yy.mm.dd'}"
                    autocomplete="off" />
                </label>
                <label class="input state-disabled col-md-6">
                  <input type="text" id="dueOutNo" name="dueOutNo" [(ngModel)]="detailInfo.dueOutNo" disabled style="width: 100%" />
                </label>
              </div>
            </section>
            <section class="col col-6 margin-bottom-20" style="display: inline-flex !important;">
              <label class="label col-md-3" style="width:30%">{{'WORK_ORDER_NO' | i18n}}</label>
              <div style="display: inline-flex !important; width:70%">
                <label class="input input-group state-disabled col-md-6" style="display: table !important;">
                  <input type="text" id="woNo" name="woNo" [(ngModel)]="detailInfo.woNo"  style="width: 100%" disabled />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="showSearchWorkOrderPopup()"><i
                        class="icon-append fa fa-search"></i></button>
                  </span>
                </label>
                <label class="input state-disabled col-md-6" style="padding-left: 15px;">
                  <input type="text" id="orderType" name="orderType" value="{{this.orderType}}" disabled style="width: 100%" />
                </label>
              </div>
            </section>
            <div class="clearfix"></div>
            <section class="col col-6 margin-bottom-20">
              <label class="label col-md-3" style="width:30%">{{'DUE_OUT_TYPE' | i18n}}</label>
              <label class="input col-md-9" style="width:70%">
                <select name="dueOutType " [(ngModel)]="detailInfo.dueOutType " select2  (onSelectedChange)="onChangeDueOutType($event)"
                   style="width:100%;" class="select2" required>
                  <option *ngFor="let item of listDueOutTypt" [value]="item.value">{{item.name | i18n}}</option>
                </select>
              </label>
            </section>
            <section class="col col-6 margin-bottom-20">
              <label class="label col-md-3" style="width:30%">{{'LOCATION' | i18n}}</label>
              <label class="input col-md-9" style="width:70%" >
                <select name="workPlaceValue " [(ngModel)]="detailInfo.workPlaceValue "  select2
                  style="width:100%;" class="select2" required>
                  <option *ngFor="let item of locations" [value]="item.gen_cd">{{item.gen_nm | i18n}}</option>
                </select>
              </label>
            </section>
            <div class="clearfix"></div>
            <section class="col col-6 margin-bottom-20" style="display: inline-flex !important;">
              <label class="label col-md-3" style="width:30%">{{'WORK_QTY' | i18n}}</label>
              <div style="display: inline-flex !important; width:70%">
                <label class="input col-md-4">
                  <input type="text" class="price-format" name="workQty" placeholder="Qty" currencyMask autoSelectText
                    [options]="{prefix:'', suffix:'', precision : 0, allowNegative : false }"
                    [(ngModel)]="detailInfo.workQty" autocomplete="off"/>
                </label>
                <label class="label col-md-2 text-center">{{'PCS' | i18n}}</label>
                <label class="label col-md-2 text-center">{{'PRICE' | i18n}}</label>
                <label class="input col-md-4">
                  <input type="text" class="price-format" name="price" autoSelectText placeholder="Price" currencyMask
                    [options]="{prefix:'', suffix:'', precision : 0, allowNegative : false }" (keyup)="onPrice()"
                    [(ngModel)]="detailInfo.price" autocomplete="off" />
                </label>
              </div>
            </section>
            <section class="col col-6 margin-bottom-20" style="display: inline-flex !important;">
              <label class="label col-md-3" style="width:30%">{{'AMOUNT' | i18n}}</label>
              <div style="display: inline-flex !important; width:70%">
                <label class="input state-disabled col-md-6">
                  <input type="text" class="price-format" disabled name="amount" placeholder="amount" currencyMask
                    [options]="{prefix:'', suffix:'', precision : 0, allowNegative : false }"
                    [(ngModel)]="detailInfo.amount" autocomplete="off" />
                </label>
                <label class="input input-group col-md-6" style="padding-left: 15px;">
                  <span class="input-group-btn">
                    <button class="btn btn-confirm-order create-data-btn width100" (click) = "loadToTable()" type="button">Create Data</button>
                  </span>
                </label>
              </div>
            </section>
          </section>
          <section class="col-md-6">
            <section class="col col-4 margin-bottom-20">
              <label class="label col-md-3">{{'STYLE_NO' | i18n}}</label>
              <label class="input col-md-9 state-disabled" style="left: 5%; width: 70%;">
                <input class="extra text-center" name="entry_date" disabled type="text" value="{{detailInfo.styleNo}}"
                  autocomplete="off" />
              </label>
            </section>
            <section class="col col-4 margin-bottom-20">
              <label class="label col-md-3" style="visibility: hidden;">{{'ENTRY_USER' | i18n}}</label>
              <label class="input col-md-9 state-disabled">
                <input class="extra text-center" name="entry_user" disabled type="text" value="{{this.buyerName}}"
                  autocomplete="off" />
              </label>
            </section>
            <section class="col col-4 margin-bottom-20">
              <label class="label col-md-3" style="visibility: hidden;width:30%">{{'ENTRY_USER' | i18n}}</label>
              <label class="input col-md-9 state-disabled" style="width:70%">
                <input class="extra text-center" name="entry_user" disabled type="text" value="{{this.entryData.user}}"
                  autocomplete="off" />
              </label>
            </section>
            <div class="clearfix"></div>
            <section class="col col-4 margin-bottom-20">
              <label class="label col-md-3" style="width:30%">{{'PROCESS' | i18n}}</label>
              <label class="input col-md-9" style="width:70%">
                <select name="processGenCd " [(ngModel)]="detailInfo.processGenCd " select2 
                   style="width:100%;" class="select2" required>
                  <option *ngFor="let item of processes" [value]="item.gen_cd">{{item.gen_nm | i18n}}</option>
                </select>
              </label>
            </section>
            <section class="col col-4 margin-bottom-20">
              <label class="label col-md-3">{{'ETA' | i18n}}</label>
              <label class="input col-md-9 ">
                <input type="text" class="center" placeholder={{this.dateTimeNow}}
                  name="eta"  [saUiDatepicker]="{dateFormat: 'yy.mm.dd'}"
                  autocomplete="off" />
              </label>
            </section>
          </section>
          <section class="col-md-12">
            <section class="col col-md-12 margin-bottom-20">
              <section class="col-md-9">
                <label class="label col-md-1">{{'DESCRIPTION' | i18n}}</label>
                <label class="textarea col-md-9" style="width: 79%;left: 1%;">
                  <!-- <input type="textarea" class="main required_input required text-center" placeholder="YYYY.MM.DD" name="orderRecvYmd" [(ngModel)]="recvYmd" [saUiDatepicker]="{dateFormat: 'yy.mm.dd'}" autocomplete="off" />-->
                  <textarea name="remark" [(ngModel)]="detailInfo.remark" rows="2"></textarea>
                </label>
                <!-- <label class="textarea">
                  <textarea name="remark"  rows="2"></textarea>
                </label> -->
              </section>
              <section class="col-md-3" style="margin-top: -3px;">
                <button type="button" name="btnCloseProgram" (click)="onCloseProgram()" class="btn btn-cancel">
                  {{'BUTTON-CLOSE' | i18n}}
                </button>
                <button type="button" name=" reset" (click)="onDelete()" class="btn btn-delete">
                  {{'BUTTON-DELETE' | i18n}}
                </button>
                <button type="button" name=" reset" (click)="onReset()" class="btn btn-reset-form">
                  {{'BUTTON-RESET' | i18n}}
                </button>
                <button type="submit" name="submit" class="btn btn-primary">
                  {{'BUTTON-SAVE' | i18n}}
                </button>
              </section>
            </section>
          </section>
          <section class="col-lg-12">
            <sa-widgets-grid>
              <div class="row">
                <div class="at-smart-table">
                  <section class="col-lg-12 table-bordered">
                    <div class="section-path-route-tables" style="padding: 0;min-width: 300px; overflow: auto;">
                      <ng2-smart-table class="table table-striped table-condensed table-hover" [source]="source" (editConfirm)="onSaveConfirm($event)"
                        id="process-path-route-table" [settings]="settingsDueOutMaterialComponent">
                      </ng2-smart-table>
                    </div>
                  </section>
                </div>
              </div>
            </sa-widgets-grid>
          </section>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<ng-template #popupSearchWorkOrder>
  <sa-popup-modal headerTitle="Search Work Order" width="70%" height="400" (onClose)="closeSearchWorkOrderPopup()">
    <sa-search-work-order-master-popup (childCall)="selectWorkOrder($event)" [buyers]="buyers" [brands]="brands"
    [sampSteps]="sampSteps">
    <!-- <sa-search-work-order-master-popup> -->
    </sa-search-work-order-master-popup>
  </sa-popup-modal>
</ng-template>