<div id="content">
  <!-- row -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center error-box">
            <h1 class="error-text-2 bounceInDown animated"> 403 Forbidden</h1>

            <h2 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-danger"></i> Forbidden Access Denied</strong></h2>
            <br>

            <p class="lead">
              You dont have permission to access this program, please contact administrator for detail...
            </p>

          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
